@use '../../styles/_variables';
@use '../../styles/mixins';

.resultsContainer {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  // height: max-content;
  width: 70%;
  padding: 30px;
  border: 1px solid variables.$darkGreen;
  border-radius: 30px;
  background-color: inherit;
}

.btn {
  display: block;
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  padding: 7px;
  // color: variables.$darkGreen;
  background-color: variables.$mainGreen;
}

.delBtn {
  color: variables.$lightestGreen;
  background-color: variables.$red;
}
.btn:hover {
  color: variables.$mainGreen;
  background-color: variables.$darkGreen;
}

.wordMeanings,
.meanings {
  @include mixins.no-bullet-list;
}

.partOfSpeech {
  display: block;
  max-height: 30px;
  max-width: fit-content;
  padding: 0.15rem 0.5rem;
  margin: 10px;
  border-radius: 15px;
  color: variables.$darkGreen;
  background-color: variables.$lightGreen;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 600;
}

.phonetics {
  font-size: 0.9rem;
}

.meaning {
  font-size: variables.$standardFont;
  margin: 1.5rem 0;
}

.message {
  font-size: variables.$standardFont;
}
