@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

.resultsContainer {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  width: 80%;
  padding: 30px;
  border: 1px solid $darkGreen;
  border-radius: 30px;
  background-color: $greenishWhite;
}

.btn {
  display: block;
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  padding: 7px;
  color: $darkGreen;
  background-color: $mainGreen;
}

.btn:hover {
  color: $mainGreen;
  background-color: $darkGreen;
}

.wordMeanings,
.meanings {
  @include no-bullet-list;
}

.partOfSpeech {
  display: block;
  max-height: 30px;
  max-width: fit-content;
  padding: 0.15rem 0.5rem;
  margin: 10px;
  border-radius: 15px;
  color: $darkGreen;
  background-color: $lightGreen;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 600;
}

.phonetics {
  font-size: 0.9rem;
}

.meaning {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}
