@use '../../styles/_variables';
@use '../../styles/mixins';

.resultsContainer {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px;
  border: 1px solid variables.$darkGreen;
  border-radius: 30px;
  background-color: inherit;
}

.title {
  display: flex;
  justify-content: space-between;
}

.message {
  font-size: variables.$standardFont;
}
