@import '../../styles/variables';

.mainContainer {
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  background-color: $lightestGreen;
  color: $darkGrey;
  display: flex;
  flex-direction: column;
}

.headerBar {
  display: flex;
  justify-content: space-between;
}

.navBar {
  ul {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}

.searchContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#form {
  align-self: center;
}

.searchInput {
  width: 100%;
  min-height: 2rem;
  padding: 0.7rem;
  border: 2px solid $mainGreen;
  border-radius: 10px;
  background-color: $darkGreen;
  color: $greenishWhite;
}

.searchInput:focus {
  background-color: $greenishWhite;
  color: $mainGreen;
  border: 2px solid $darkGreen;
}
::placeholder {
  color: $greenishWhite;
}

.btn {
  height: 30px;
  width: fit-content;
  margin: 5px;
  padding: auto 15px;

  font-family: inherit;

  color: $darkGreen;
  background-color: $lightGreen;
  font-weight: 500;
  box-shadow: 1px 1px 1px 1px $mainGreen;
  border: 2px solid $darkGreen;
  border-radius: 10px;
}

.btnToggle {
  max-width: 10rem;
  max-height: 3rem;
  margin: 20px;
  border: 1px solid $darkGreen;
}

.phonetics {
  font-style: italic;
}

.meanings {
  font-weight: 700;
}
